/* General Styles */
.App {
  text-align: center;
  background-color: #ffffff;
  /* Light mode background */
  transition: background-color 0.3s ease;
  top: 200px;
  /* Fixed typo: added px unit */
}

.dark-mode .App {
  background-color: #003135;
  /* Dark mode background */
}

.Profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.App-title {
  font-size: 3rem;
  color: #003135;
  /* Dark Teal */
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
}

.App-intro {
  font-size: 1.2rem;
  color: #333;
  /* Light mode text color */
  margin: 20px auto;
  width: 80%;
  animation: slideIn 2s ease-in-out;
}

.dark-mode .App-intro {
  color: #e0e0e0;
  /* Light Gray text color for dark mode */
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
}

/* Specific Section Styles */
.Home {
  background-color: #ffffff;
  /* White */
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Enhanced shadow for light mode */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-mode .Home {
  background-color: #024950;
  /* Deep Blue Teal */
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: sticky;
}

.hamburger div {
  background-color: #ffffff;
  /* White */
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

/* Toggle Switch Styles */
.Theme-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.Theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* Light Gray */
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #0fa4af;
  /* Bright Teal */
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.dark-mode .Theme-toggle {
  background-color: #0fa4af;
  /* Bright Teal */
  color: #ffffff;
  /* White */
}

.dark-mode .Theme-toggle:hover {
  background-color: #003135;
  /* Dark Teal */
}

/* Dark Mode Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .App-title {
    font-size: 2.5rem;
  }

  .App-intro {
    font-size: 14px;
    display: block;
    width: 100%;
    word-wrap: break-word;
    /* Breaks long words and wraps text to the next line */
    word-break: break-all;
  }

  .Profile-photo {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .App-title {
    font-size: 2rem;
  }

  .App-intro {
    font-size: 0.9rem;
    width: 95%;
  }

  .Profile-photo {
    width: 100px;
    height: 100px;
  }
}

.tech-item {
  text-align: start;
}

.tech-tile {
  background-color: #024950;
  /* Bright Teal */
  color: #ffffff;
  /* White */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes scroll-up {
  0% {
    top: 100%;
    /* Start off-screen */
  }

  100% {
    top: -100%;
    /* End off-screen */
  }
}

.tech-category {
  text-align: center !important;
}

.dark-mode .tech-tile {
  background-color: #0fa4af;
  /* Bright Teal */
  color: #ffffff;
  /* White */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Enhanced shadow for dark mode */
}

.Resume-link {
  display: inline-block;
  background-color: #0fa4af;
  /* Bright Teal */
  color: #ffffff;
  /* White */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.Resume-link:hover {
  background-color: #003135;
  /* Dark Teal */
}

.typewriter {
  display: inline;
  overflow: auto;
  /* Ensures text disappears at the end of the animation */
  white-space: nowrap;
  /* Keeps the text in a single line */
  border-right: .15em solid orange;
  /* Creates a cursor effect */
  animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.no-cursor {
  border-color: transparent;
  /* Hide the cursor */
  animation: none;
  /* Remove animation after typing is complete */
}

.highlighted {
  color: orange;
}

.Lottie-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}