/* General Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-title {
  font-size: 3rem;
  color: #282c34;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
}

.App-intro {
  font-size: 1.2rem;
  color: #333;
  margin: 20px auto;
  width: 80%;
  animation: slideIn 2s ease-in-out;
}

section {
  margin: 20px;
  padding: 20px;
}

.Skills,
.Projects,
.Contact {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Skills ul,
.Projects ul {
  list-style-type: none;
  padding: 0;
}

.Skills li,
.Projects li {
  padding: 10px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.Skills li:hover,
.Projects li:hover {
  background-color: #e0e0e0;
}

.Projects a {
  text-decoration: none;
  color: #61dafb;
  transition: color 0.3s;
}

.Projects a:hover {
  color: #21a0f6;
}

.Contact a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s;
}

.Contact a:hover {
  color: #21a0f6;
}

.App-link {
  color: #61dafb;
  font-size: 1.2rem;
  margin-top: 20px;
  display: inline-block;
  transition: color 0.3s;
}

.App-link:hover {
  color: #21a0f6;
}

/* Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}